body {
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-weight:600;
  background: #e6e6e6;
  color: #111;
  margin: 0;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  background: #3c5c6e;
  color: white;
  padding: 0.5rem 1rem;
}

.social-icons a img {
  width: 20px;
  margin-right: 10px;
  filter: brightness(0) invert(1);
  transition: transform 0.3s;
}
.social-icons a img:hover {
  transform: scale(1.2);
}

.search-box input {
  padding: 0.4rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.search-box button {
  background-color: #5c90a5;
  border: none;
  color: white;
  padding: 0.4rem 0.6rem;
  margin-left: 0.5rem;
  cursor: pointer;
  border-radius: 5px;
}

.main-header {
  text-align: center;
  background: #4c7e90;
  color: #fdfdfd;
  padding: 1rem 0;
  font-size: 2.5rem;
  font-weight: bold;
}

.logo {
  width: 15%;
  border-radius: 50%;
  margin-top: 1rem;
}
.main-nav {
  display: flex;
  justify-content: center;
  background: #60584a;
  padding: 0.6rem;
}
.main-nav a {
  color: white;
  text-decoration: none;
  margin: 0 1rem;
  font-weight: bold;
  transition: color 0.3s;
}
.main-nav a:hover {
  color: #ffd369;
}
.contain{
    text-align: center;
    font-size: 200%;
    font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-weight:900;
}
.objetivos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #d1cfcf;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  margin: 2rem auto;
  max-width: 100%;
  gap: 2rem; /* espaço entre os cartões */
}

.focos {
  text-align: center;
  background-color: #8594a7; /* Fundo branco */
  padding: 1.5rem;
  border-radius: 15px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1); /* Sombra suave */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 80%; /* ou 100% se quiser ocupar tudo */
  max-width: 400px; /* limita para não ficar gigante */
}

.focos:hover {
  transform: translateY(-5px); /* Sobe levemente ao passar o mouse */
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}

.focos img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
  transition: transform 0.3s ease;
}

.focos img:hover {
  transform: scale(1.05);
}

.focos h3 {
  font-size: 1.5rem;
  color: #333;
  border-left: 5px solid #5c90a5;
  padding-left: 10px;
}